<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Akhbaar Padhke Sunao</title>
    <style>
            body {


            }


    </style>
</head>
<body>
<h1 style="color:yellow;font-size:80px;">Akhbaar Suniye</h1>
<form action= '/funcy' method='get'>
    <h2 style="font-family:cursive;font-size:60px;"><b><i>Enter API </i></b></h2>
  <textarea name='text'style='margin: 0px; width: 1385px; height: 71px;'></textarea>
    <button type='submit'><h3 style="color:brown;font-size:30px;">Submit</h3></button>
    <h2 style= "font-family:fantasy;color:navy;font-size:55px;"><i>Select News Category </i></h2>
  <h3 style="font-family:georgia;color:black ;font-size:40px;">
  <input type='checkbox' name="name1" class="largerCheckbox"> {{name1}}<br>
  <input type='checkbox' name="name2" class="largerCheckbox"> {{name2}}<br>
  <input type='checkbox' name="name3" class="largerCheckbox"> {{name3}}<br>
  <input type='checkbox' name="name4" class="largerCheckbox"> {{name4}}<br>
  <input type='checkbox' name="name5" class="largerCheckbox"> {{name5}}<br>
  <input type='checkbox' name="name6" class="largerCheckbox"> {{name6}}</h3>

</form>
</body>
</html>